.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  background-color: var(--background-color);
  position: relative;
}

.cards .cards-card-body {
  margin: 16px 0;
}

.cards .cards-card-body p:first-child {
  text-transform: uppercase;
}

.cards .cards-card-body p:nth-child(2) {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.disabled {
  opacity: .65;
  position: relative;
}

.cards.disabled ul > li::before {
  -webkit-font-smoothing: antialiased;
  background: #c1c1c1;
  content: ' \26BF';
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-transform: none;
  padding: 10px;
  position: absolute;
  top: 0;
}

.cards.disabled .cards-card-body,
.cards.disabled .cards-card-body > p:first-child {
  margin-top: 0;
}

.cards.cards.disabled a.button {
  background-color: #ebebeb;
  cursor: auto;
}